body {
  background-image: url('https://source.unsplash.com/1600x1200/?Edinburgh');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.today-weather-container {
  border-radius: 5px;
  background-color: white;
  opacity: 0.85;
  min-width: 80vw;
  min-height: 300px;
  margin: 10vh 10vw;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsequent-days-bar {
  border-radius: 5px;
  background-color: white;
  opacity: 0.85;
}

/* For large screens */
@media (min-width: 992px) {
  .subsequent-day-weather-container {
    flex-direction: column;
    border-right: 1px solid lightgray;
  }
  .subsequent-days-bar {
    margin: 20px 10vw;
    display: flex;
  }
}

/* For small screens */
@media (max-width: 991px) {
  .subsequent-day-weather-container {
    border-bottom: 1px solid lightgray;
  }
  .subsequent-days-bar {
    margin: 20px 10vw;
  }
}

.subsequent-day-weather-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 10px;
}

.subsequent-day-weather-container:last-child {
  border: 0;
}

/* For very small screens */
@media (max-width: 650px) {
  .subsequent-day-weather-container {
    flex-direction: column;
  }
}

.add-text-margin {
  margin: 10px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 51px;
  font-size: 30px;
  margin: 0 0 23px 0;
  color: #5c5c4e;
  text-align: center;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color: #5c5c4e;
  text-align: center;
}
p {
  font-family: 'Droid Serif', serif;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 23px 0;
  text-transform: capitalize;
  text-align: center;
}

.weather-icon {
  width: 20%;
  max-width: 100px;
}
